.right {
    margin-top: 1.4rem;

    .top {
        display: flex;
        justify-content: end;
        gap: 2rem;

        button {
            display: none;
        }

        .profile {
            display: flex;
            gap: 2rem;
            text-align: right;
        }
    }

    .theme-toggler {
        background: var(--color-light);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.6rem;
        width: 4.2rem;
        cursor: pointer;
        border-radius: var(--border-radius-1);

        span {
            font-size: 1.2rem;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .active {
                background-color: var(--color-primary);
                color: white;
                border-radius: var(--border-radius-1);
            }
        }
    }

    /* Recent Update */
    .recent-updates {
        margin-top: 1rem;

        h2 {
            margin-bottom: 0.8rem;
        }

        .updates {
            background-color: var(--color-white);
            padding: var(--card-padding);
            border-radius: var(--card-border-radius);
            box-shadow: var(--box-shadow);
            transition: all 300ms ease;

            &:hover {
                box-shadow: none;
            }

            .update {
                display: grid;
                grid-template-columns: 2.6rem auto;
                gap: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    /* Sales Analytics */
    .sales-analytics {
        margin-top: 2rem;

        h2 {
            margin-bottom: 0.8rem;
        }

        .item {
            background: var(--color-white);
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 0.7rem;
            padding: 1.4rem var(--card-padding);
            border-radius: var(--border-radius-3);
            box-shadow: var(--box-shadow);
            transition: all 300ms ease;

            &:hover {
                box-shadow: none;
            }

            .right {
                display: flex;
                justify-content: space-between;
                align-items: start;
                margin: 0;
                width: 100%;
            }

            .icon {
                padding: 0.6rem;
                color: var(--color-white);
                border-radius: 50%;
                background: var(--color-primary);
                display: flex;
            }

            .offline .icon {
                background: var(--color-danger);
            }

            .customer .icon {
                background: var(--color-success);
            }
        }

        .add-product {
            background-color: transparent;
            border: 2px dashed var(--color-primary);
            color: var(--color-primary);
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                display: flex;
                align-items: center;
                gap: 0.6rem;

                h3 {
                    font-weight: 600;
                }
            }
        }
    }
}